In [1]:
import pandas as pd
import sqlite3

In [2]:
#creating database connection
conn = sqlite3.connect('inventory.db')

In [3]:
#checking tables present in database
tables = pd.read_sql_query("SELECT name from sqlite_master where type='table'",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [4]:
for table in tables['name']:
    print('-'*50,f'{table}','-'*50)
    print('Count of records:',pd.read_sql(f"select count(*) from {table}",conn).iloc[0,0])
    display(pd.read_sql(f"select * from {table} limit 5",conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897

In [5]:
purchases = pd.read_sql_query("SELECT * from purchases where VendorNumber=4466",conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [6]:
purchase_prices = pd.read_sql_query("""SELECT * from purchase_prices where VendorNumber=4466""",conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [7]:
vendor_invoice = pd.read_sql_query("""SELECT * from vendor_invoice where VendorNumber=4466""",conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [8]:
sales = pd.read_sql_query("""SELECT * from sales where VendorNo=4466""",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [9]:
purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [11]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

In [12]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [13]:
freight_summary= pd.read_sql_query("""SELECT VendorNumber,sum(Freight) as freightCost
from vendor_invoice 
GROUP BY VendorNumber""",conn)

In [14]:
freight_summary

     VendorNumber  freightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [15]:
pd.read_sql_query("""SELECT
   P.VendorNumber,
   P.VendorName,
   P.Brand,
   P.PurchasePrice,
   PP.Volume,
   PP.Price as ActualPrice,
   sum(p.Quantity) as TotalPurchaseQuantity,
   sum(p.Dollars) as TotalPurchaseDollars
   from purchases P
   JOIN purchase_prices PP
   ON P.Brand =PP.Brand
   where  P.PurchasePrice >0
   GROUP BY  P.VendorNumber, P.VendorName, P.Brand
   ORDER BY TotalPurchaseDollars""",conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [16]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [17]:
pd.read_sql_query("""SELECT
   VendorNo,
   Brand,
   sum(SalesDollars) as TotalSalesDollars,
   sum(SalesPrice) as TotalSalesPrice,
   sum(SalesQuantity) as TotalSalesQuantity,
   sum(ExciseTax) as TotalExciseTax
   from Sales
   GROUP BY  VendorNo,Brand
   ORDER BY TotalSalesDollars""",conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,3924,9123,1.98,0.99,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,545778.28,135838,249587.83
11268,3960,4261,4475972.88,420050.01,200412,368242.80
11269,17035,8068,4538120.60,461140.15,187140,343854.07
11270,4425,3405,4819073.49,561512.37,160247,294438.66
11271,1128,1233,5101919.51,672819.31,142049,260999.20

In [18]:
pd.read_sql_query("PRAGMA table_info(sales);", conn)
pd.read_sql_query("PRAGMA table_info(vendor_invoice);", conn)
pd.read_sql_query("PRAGMA table_info(purchases);", conn)

    cid            name    type  notnull dflt_value  pk
0     0     InventoryId    TEXT        0       None   0
1     1           Store  BIGINT        0       None   0
2     2           Brand  BIGINT        0       None   0
3     3     Description    TEXT        0       None   0
4     4            Size    TEXT        0       None   0
5     5    VendorNumber  BIGINT        0       None   0
6     6      VendorName    TEXT        0       None   0
7     7        PONumber  BIGINT        0       None   0
8     8          PODate    TEXT        0       None   0
9     9   ReceivingDate    TEXT        0       None   0
10   10     InvoiceDate    TEXT        0       None   0
11   11         PayDate    TEXT        0       None   0
12   12   PurchasePrice   FLOAT        0       None   0
13   13        Quantity  BIGINT        0       None   0
14   14         Dollars   FLOAT        0       None   0
15   15  Classification  BIGINT        0       None   0

In [19]:
vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
   SELECT 
        VendorNumber,
        SUM(freight) AS FreightCost
    FROM vendor_invoice 
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT
        P.VendorNumber,
        P.VendorName,
        P.Brand,
        P.Description,
        P.PurchasePrice,
        PP.price AS ActualPrice,
        PP.Volume,
        SUM(P.Quantity) AS TotalPurchaseQuantity,
        SUM(P.Dollars) AS TotalPurchaseDollars
    FROM purchases P
    JOIN purchase_prices PP ON P.brand = PP.brand
    WHERE P.PurchasePrice > 0
    GROUP BY P.VendorNumber, P.VendorName, P.Brand, P.Description,P.PurchasePrice,PP.price,PP.Volume
),
SalesSummary AS (
    SELECT
        VendorNo AS VendorNumber,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT    
    PS.VendorNumber,
    PS.VendorName,
    PS.Brand,
    PS.Description,
    PS.PurchasePrice,
    PS.ActualPrice,
    PS.Volume,
    PS.TotalPurchaseQuantity,
    PS.TotalPurchaseDollars,
    SS.TotalSalesQuantity,
    SS.TotalSalesDollars,
    SS.TotalSalesPrice, 
    SS.TotalExciseTax,
    FS.FreightCost
FROM PurchaseSummary PS
LEFT JOIN SalesSummary SS
    ON PS.VendorNumber = SS.VendorNumber AND PS.Brand = SS.Brand
LEFT JOIN FreightSummary FS
    ON PS.VendorNumber = FS.VendorNumber
ORDER BY TotalSalesDollars DESC
""", conn)

In [20]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,90047,CRUSH WINES,17488,Solar de Randez White Rioja,7.99,11.99,750,10,79.90,NaN,NaN,NaN,NaN,1457.73
10688,90047,CRUSH WINES,22081,Hacienda Zargon Cab Svgn,5.78,8.49,750,24,138.72,NaN,NaN,NaN,NaN,1457.73
10689,90047,CRUSH WINES,22626,Ryan Patrick Redhead Red,7.79,11.99,750,12,93.48,NaN,NaN,NaN,NaN,1457.73
10690,90047,CRUSH WINES,22737,Rotation Chard,5.84,8.99,750,24,140.16,NaN,NaN,NaN,NaN,1457.73
10691,90047,CRUSH WINES,24982,Molly Dooker Girl on the Go,19.46,28.99,750,6,116.76,NaN,NaN,NaN,NaN,1457.73

In [21]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [22]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
dtype: int64

In [23]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'MOET HENNESSY USA INC      ', 'PROXIMO SPIRITS INC.       ',
       'STOLI GROUP,(USA) LLC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'PALM BAY INTERNATIONAL INC ', 'SAZERAC NORTH AMERICA INC. ',
       'M S WALKER INC             ', 'E & J GALLO WINERY         ',
       'REMY COINTREAU USA INC     ', 'DISARONNO INTERNATIONAL LLC',
       'SIDNEY FRANK IMPORTING CO  ', 'HEAVEN HILL DISTILLERIES   ',
       'WILLIAM GRANT & SONS INC   ', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'TRINCHERO FAMILY ESTATES   ',
       'SOUTHERN WINE & SPIRITS NE ', 'STE MICHELLE WINE ESTATES  ',
       'WINE GROUP INC             ', 'PERFECTA WINES             ',
       'MHW LTD                    ', 'TREASURY WINE ESTATES      ',
       'DIAGEO CHATEAU ESTATE WINES', 'PINE STATE TRADING CO      ',
       'LUXCO INC                  ', 'SHAW ROSS INT L IMP LTD    ',
       'PHILLIPS PRODUCTS CO.      ', 'KOBRAND CORPORATION        ',
       'STATE WINE & SPIRITS   ', 'BANFI PRODUCTS CORP        ',
       'CALEDONIA SPIRITS INC      ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'Serralles Usa LLC          ',
       'VRANKEN AMERICA            ', 'LATITUDE BEVERAGE COMPANY  ',
       'KLIN SPIRITS LLC           ', 'OLE SMOKY DISTILLERY LLC   ',
       'DUGGANS DISTILLED PRODUCTS ', 'SEA HAGG DISTILLERY LLC    ',
       'FABRIZIA SPIRITS LLC       ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'AMERICAN VINTAGE BEVERAGE  ',
       'MARSALLE COMPANY           ', 'SWEET BABY VINEYARD        ',
       'ADAMBA IMPORTS INTL INC    ', 'LAIRD & CO                 ',
       'NICHE W & S                ', 'LABELLE VYDS AND WINERY    ',
       'MANGO BOTTLING INC         ', 'PREMIUM PORT WINES, INC.   ',
       'FLAG HILL WINERY & VINEYARD', 'SEA BREEZE CELLARS LLC     ',
       'Russian Standard Vodka     ', 'VINILANDIA USA             ',
       'PREMIER DISTRIBUTORS       ', 'WEIN BAUER INC             ',
       'BULLY BOY DISTILLERS       ', 'Dunn Wine Brokers          ',
       'ATLANTIC IMPORTING COMPANY ', 'SMOKY QUARTZ DISTILLERY LLC',
       'TAKARA SAKE USA INC        ', 'PSP WINES ',
       'ZORVINO VINEYARDS          ', 'PARK STREET IMPORTS LLC    ',
       'CRUSH WINES                ', 'POVERTY LANE ORCHARDS      ',
       'SOUTHERN GLAZERS W&S OF NE ', 'FORTUNE WINE BROKERS LLC   ',
       'DJINN SPIRITS LLC          ', 'STARK BREWING COMPANY      ',
       'TAMWORTH DISTILLING        ', 'JEWELL TOWNE VINEYARDS     ',
       'MOONLIGHT MEADERY          ', 'HOOD RIVER DISTILLERS, Inc.',
       'TY KU LLC                  ', 'VINEXTRA INC               ',
       'ALISA CARR BEVERAGES           ', 'SURVILLE ENTERPRISES CORP  ',
       'MARTIGNETTI COMPANIES ', 'CANDIA VINEYARDS           ',
       'INCREDIBREW INC            ', 'ALTAMAR BRANDS LLC         ',
       'TALL SHIP DISTILLERY LLC   ', 'SWEETWATER FARM         ',
       'STELLAR IMPORTING CO LLC   ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'STAR INDUSTRIES INC.       ',
       'FULCHINO VINEYARD INC      ', 'THE PIERPONT GROUP LLC     ',
       'BLACK COVE BEVERAGES       ', 'THE IMPORTED GRAPE LLC     ',
       'Circa Wines                ', 'R.P.IMPORTS INC            ',
       'WALPOLE MTN VIEW WINERY    ', 'HAUNTING WHISPER VYDS      ',
       'VINEYARD BRANDS LLC        ', 'BLACK ROCK SPIRITS LLC     ',
       'GILMANTON WINERY & VINEYARD', 'AMERICAN SPIRITS EXCHANGE  ',
       'FLAVOR ESSENCE INC         ', 'CENTEUR IMPORTS LLC        ',
       'LOYAL DOG WINERY           ', 'BRONCO WINE COMPANY        ',
       'APPOLO VINEYARDS LLC       ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'MILTONS DISTRIBUTING CO    ', 'HIGHLAND WINE MERCHANTS LLC',
       'SILVER MOUNTAIN CIDERS     ', 'FANTASY FINE WINES CORP    ',
       'UNCORKED       ', 'CAPSTONE INTERNATIONAL     ',
       'TRUETT HURST               ', 'AAPER ALCOHOL & CHEMICAL CO',
       'LAUREATE IMPORTS CO        '], dtype=object)

In [24]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Ryan Patrick Redhead Red',
       'Rotation Chard', 'Molly Dooker Girl on the Go'],
      shape=(9651,), dtype=object)

In [25]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [26]:
vendor_sales_summary.fillna(0, inplace=True)

In [27]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [28]:
vendor_sales_summary['GrossProfit']=vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollars']

In [29]:
vendor_sales_summary['ProfitMargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [30]:
vendor_sales_summary['StockTurnOver']=vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [31]:
vendor_sales_summary['SalestoPurchaseRatio']=vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [32]:
cursor=conn.cursor()

In [33]:
cursor.execute("""CREATE TABLE vendor_sales_summary(
   VendorNumber INT,
   VendorName VARCHAR(100),
   Brand  INT,
   Description VARCHAR(100),
   PurchasePrice DECIMAL(10,2),
   ActualPrice DECIMAL(10,2),
   Volume ,
   TotalPurchaseQuantity INT,
   TotalPurchaseDollars DECIMAL(15,2),
   TotalSalesQuantity INT
   TotalSalesDollars DECIMAL(15,2),
   TotalSalesPrice DECIMAL(15,2),
   TotalExciseTax  DECIMAL(15,2),
   FreightCost DECIMAL(15,2),
   GrossProfit DECIMAL(15,2), 
   ProfitMargin DECIMAL(15,2),           
   StockTurnOver DECIMAL(15,2),           
   SalestoPurchaseRatio  DECIMAL(15,2),   
   PRIMARY KEY (VendorNumber,Brand)
);
""")

OperationalError: table vendor_sales_summary already exists

In [34]:
pd.read_sql_query("SELECT * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,90047,CRUSH WINES,17488,Solar de Randez White Rioja,7.99,11.99,750.0,10,79.90,0.0,0.00,0.00,0.00,1457.73,-79.90,-inf,0.000000,0.000000
10688,90047,CRUSH WINES,22081,Hacienda Zargon Cab Svgn,5.78,8.49,750.0,24,138.72,0.0,0.00,0.00,0.00,1457.73,-138.72,-inf,0.000000,0.000000
10689,90047,CRUSH WINES,22626,Ryan Patrick Redhead Red,7.79,11.99,750.0,12,93.48,0.0,0.00,0.00,0.00,1457.73,-93.48,-inf,0.000000,0.000000
10690,90047,CRUSH WINES,22737,Rotation Chard,5.84,8.99,750.0,24,140.16,0.0,0.00,0.00,0.00,1457.73,-140.16,-inf,0.000000,0.000000
10691,90047,CRUSH WINES,24982,Molly Dooker Girl on the Go,19.46,28.99,750.0,6,116.76,0.0,0.00,0.00,0.00,1457.73,-116.76,-inf,0.000000,0.000000

In [35]:
vendor_sales_summary.to_sql('vendor_sales_summary',conn,if_exists = 'replace',index = False)

10692

In [36]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

# Set up logging
logging.basicConfig(
    filename="logs/ingestion_db.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)

def create_vendor_summary(conn):
    '''Merges different tables to generate overall vendor summary'''
    query = """
    WITH FreightSummary AS (
        SELECT VendorNumber, SUM(freight) AS FreightCost
        FROM vendor_invoice 
        GROUP BY VendorNumber
    ),
    PurchaseSummary AS (
        SELECT
            P.VendorNumber,
            P.VendorName,
            P.Brand,
            P.Description,
            P.PurchasePrice,
            PP.price AS ActualPrice,
            PP.Volume,
            SUM(P.Quantity) AS TotalPurchaseQuantity,
            SUM(P.Dollars) AS TotalPurchaseDollars
        FROM purchases P
        JOIN purchase_prices PP ON P.brand = PP.brand
        WHERE P.PurchasePrice > 0
        GROUP BY P.VendorNumber, P.VendorName, P.Brand, P.Description, P.PurchasePrice, PP.price, PP.Volume
    ),
    SalesSummary AS (
        SELECT
            VendorNo AS VendorNumber,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNo, Brand
    )
    SELECT    
        PS.VendorNumber,
        PS.VendorName,
        PS.Brand,
        PS.Description,
        PS.PurchasePrice,
        PS.ActualPrice,
        PS.Volume,
        PS.TotalPurchaseQuantity,
        PS.TotalPurchaseDollars,
        SS.TotalSalesQuantity,
        SS.TotalSalesDollars,
        SS.TotalSalesPrice, 
        SS.TotalExciseTax,
        FS.FreightCost
    FROM PurchaseSummary PS
    LEFT JOIN SalesSummary SS ON PS.VendorNumber = SS.VendorNumber AND PS.Brand = SS.Brand
    LEFT JOIN FreightSummary FS ON PS.VendorNumber = FS.VendorNumber
    ORDER BY TotalSalesDollars DESC
    """
    vendor_sales_summary = pd.read_sql_query(query, conn)
    return vendor_sales_summary

def clean_data(df):
    '''Cleans and enhances the vendor summary dataframe'''
    
    df['Volume'] = df['Volume'].astype(float)

    # Fill missing values with 0
    df.fillna(0, inplace=True)

    # Clean string fields
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()

    # New calculated columns
    df['GrossProfit'] = df['TotalSalesDollars'] - df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars']) * 100
    df['StockTurnOver'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity']
    df['SalestoPurchaseRatio'] = df['TotalSalesDollars'] / df['TotalPurchaseDollars']

    return df

if __name__ == '__main__':
    # Create DB connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating vendor summary...')
    summary_df = create_vendor_summary(conn)
    logging.info(f'Summary preview:\n{summary_df.head()}')

    logging.info('Cleaning data...')
    clean_df = clean_data(summary_df)
    logging.info(f'Cleaned data preview:\n{clean_df.head()}')

    logging.info('Ingesting data...')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed ingestion.')

In [37]:
vendor_sales_summary.to_csv('vendor_sales_summary.csv', index=False)